.macbook-pro-14-option-9 .x11-negro {
  background-color: transparent;
  height: 64.760009765625px;
  min-width: 64.76025390625px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bgwhite: #fffdfb;
  --artbarrojo1: #9e2a2b;
  --artblack: #000000b5;
  --black-l-op: #000000a0;
  --artgray: #585858;
  --font-titles: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  --font-text: 'Open Sans', sans serif;
  --step--2: clamp(0.33rem, calc(0.32rem + 0.07vw), 0.43rem);
  --step--1: clamp(0.54rem, calc(0.52rem + 0.11vw), 0.7rem);
  --step-0: clamp(0.88rem, calc(0.84rem + 0.18vw), 1.13rem);
  --step-1: clamp(1.42rem, calc(1.36rem + 0.29vw), 1.82rem);
  --step-2: clamp(2.29rem, calc(2.2rem + 0.47vw), 2.95rem);
  --step-3: clamp(3.71rem, calc(3.56rem + 0.76vw), 4.76rem);
  --step-4: clamp(6rem, calc(5.75rem + 1.22vw), 7.71rem);
  --step-5: clamp(9.7rem, calc(9.31rem + 2.5vw), 15rem);
  --letter-spacing5-2: calc((var(--step-5) - var(--step-2)) / var(--step-2));

  --bar-width: 40px;
  --bar-height: 6px;
  --hamburger-gap: 4px;
  --hamburger-margin: 4%;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0px;
  gap: 0px;
  isolation: isolate;
  background: var(--bgwhite);
  font-family: var(--step-0);
}

h1 {
  font-size: var(--step-5);
  font-family: var(--font-titles);
}

h2 {
  font-size: var(--step-4);
  font-family: var(--font-titles);
}

h3 {
  font-size: var(--step-3);
  font-family: var(--font-titles);
}

h4 {
  font-size: var(--step-2);
  font-family: var(--font-titles);
}

h5 {
  font-size: var(--step-1);
  font-family: var(--font-titles);
}

h6 {
  font-size: var(--step-0);
  font-family: var(--font-titles);
}

/*NAVBAR*/

.navbar-brand {
  position: relative;
  background: url(/src/photos/artbar-logo.png);
  width: 2rem;
  left: 15px;
  background-size: contain;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.nav-link {
  color: var(--artblack);
  font-size: var(--step-3);
  font-family: var(--font-text);
  font-weight: bolder;
}

.modal-content {
  background-color: rgba(255, 253, 251, 0.95);
  transition: translate var(--animation-timing);
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  min-height: 100vh;
  z-index: 2;
} 

.hamburger-menu:has(input:checked) + .smodal-content {
  translate: 0;
}

/*icons animation*/
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 999999;
  cursor: pointer;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--bgwhite);
  box-shadow: 0 0 0 1px var(--artgray);
} 

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--artgray);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.burger-menu:has(input:checked) + .modal-content {
  opacity: 0;
}

/*LANDING PAGE*/

.landing-page {
  display: flex;
  align-self: center;
}

.bg-image {
  background-image: url(/src/photos/bg-image.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -999;
}

.artgray {
  display: block;
}

.artesanos-title {
  font-family: var(--font-titles);
  color: var(--bgwhite);
  letter-spacing: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background: var(--artbarrojo1);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.titles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  height: 100%;
  max-width: 70%;
}

.artbar-text {
  /* letter-spacing: calc((100% - (var(--step-5))) / 6);
  letter-spacing: var(--step-0); */
  letter-spacing: var(--letter-spacing5-2);
  color: var(--artgray);
}

.base-nominal-text {
  /* letter-spacing: calc((100% - (var(--step-2))) / 34); */
  letter-spacing: var(--letter-spacing5-2);
}
